/*****************************************************************************/
/* Footer: Style */
/*****************************************************************************/

#footer_div {
  text-align: center;
  border-top: solid #140eb0 1px;
  padding-top: 50px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}