/*****************************************************************************/
/* CodeReviews: Style */
/*****************************************************************************/
/*
@keyframes feedItemAnimation {
    0% {top: 50px;}
    100% {top: 300px;}
}
*/


/* The element to apply the animation to */
/*
.animate {
    animation-name: feedItemAnimation;
    animation-timing-function: linear;
    animation-duration: 1s;
}
*/

#submit-review-div {
  background-color: white;
}

#submit-review-div .form-group {
  text-align: left;
}

.review-div {
  
  position: relative;
  -webkit-transition: all 1s 0ms ease-in;
  -moz-transition: all 1s 0ms ease-in;
  -ms-transition: all 1s 0ms ease-in;
  -o-transition: all 1s 0ms ease-in;
  transition: all 1s 0ms ease-in;
}

/*
.animate {
  top: 0;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
*/